{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
</div>
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{object.name|title}}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{object.price}} $</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{object.category}}</li>
                <li>{{object.description_product|truncatechars:10}}</li>
            </ul>
                    <a class="p-2 btn btn-outline-primary" href="product/{{object.id}}/">View</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:update_product' object.pk %}">Edit</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
